<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>List</title>
    <!--jQuery-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!--Data Table-->
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <!--Ajax-->

    <script>
        $(document).ready(function () {
             //<!--DataTables  Initialization -- >
            $.ajax({
                type: "GET",
                url: "http://localhost:61293//Person//GetPeople",
                data: "",
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //<!--DataTables  Initialization -- >
                    $table = $('#PeopleTable').DataTable({
                        responsive: true,
                        "order": [[1, "asc"]],
                        "data": data,
                        "columns": [             
                            { "data": "personId" },
                            { "data": "name" },
                            { "data": "lastName" },
                            { "defaultContent": "<button>Edit</button> <button>Delete</button> <button>Add friend</button> <button>Remove friend</button> <button>Show friends</button>" }
                        ],
                        "columnDefs": [
                            {
                                "targets": [0],
                                "visible": false,
                                "searchable": false
                            }
                        ]
                    });

                },
                error: function () {
                    Console.log("error, ajax couldn't charge the table")
                }
            });
        });


        var person = { Id: "1", firstName: "John", lastName: "Doe" };
        var person2 = { Id: "2", firstName: "lung", lastName: "chang" };
        var data = [person, person2]
    </script>
</head>
<body>
    <div class="container">
        <h2>People List</h2>
        <!--<button type='button' class='Add btn btn-success fa fa-plus'><i class='glyphicon glyphicon-plus'></i></button>-->

        <button>Add new person</button>

        <table id="PeopleTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Options</th>
                </tr>
            </thead>
        </table>
    </div>
</body>
</html>