
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <script src="~/argPlugin/arg-graph.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/argPlugin/arg-graph.min.css" />

    <script>
        var argGraph;

        $(function () {

            $.urlParam = function (name) {
                var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
                return results[1] || 0;
            }

            argGraph = $('.arg-Graph').ArgGraph();

            $.ajax({
                type: "POST",
                url: "/Person/GetGraph",
                data: JSON.stringify($.urlParam("personId")),
                dataType: "json",
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data) {
                        console.log(data);
                        var dataArray = [];
                        for (var i = 0; i < data.length; i++) {
                            dataArray.push({
                                "id": data[i].id,
                                "text": data[i].text,
                                "position": {
                                    "left": data[i].left,
                                    "top": data[i].top
                                },
                                "neighbors": data[i].neighbors
                            });
                        }
                        console.log(dataArray);
                        argGraph.importJson(JSON.stringify(dataArray));
                    }
                    $("span").remove();
                },
                error: function () {
                    console.log("error, ajax couldn't  make the tree")
                }
            });

        });
    </script>
</head>
<body>
    <h1 align="center">Relationship Graph</h1>
    <div class='container'>
        <div id="arg-Graph" class="arg-Graph panel">

        </div>
    </div>
</body>
</html>
